* {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
    font-weight: 300;
}

body {
    background: repeating-linear-gradient(
        45deg,
        #f8f8f8,
        #f8f8f8 10px,
        #ffffff 10px,
        #ffffff 20px
    );
}

.navigation-padding {
    height: 50px;
}

.navigation {
    background-color: #f0f0f0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navigation .left {
    display: flex;
}

.navigation .left div {
    margin: 0px;
    color: black;
    cursor: pointer;

    border: 0px;
    height: 50px;
    line-height: 50px; /* This one is what I didn't want :( */
    width: 100px;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 16px;
}

.navigation .left div:hover {
    background-color: #808080;
}

.navigation .left div.active {
    background-color: #4CAF50;
    color: white;
}

.navigation .right img {
    margin: 10px 20px 10px auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.deadline {
    margin: 0 auto auto auto;
    width: 800px;
}

.deadline .title {
    margin: 0 0 10px 0;
    width: 800px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.deadline .timer {
    margin: auto;
    width: 440px;
    display: flex;
}

.deadline .timer div {
    width: 100px;
    margin: 5px;
    padding: 0;
}

.deadline .timer .slot {
    border-radius: 12px;
    background-color:#404040;
}

.deadline .timer .name {
    margin: 10px 0 0 10px;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    font-size: 20px;
}

.deadline .timer .time {
    margin: 0;
    font-family: 'Black Han Sans', sans-serif;
    color: white;
    font-size: 60px;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

.button {
    transition-duration: 0.4s;
    padding: 10px;
    cursor: pointer;
    font-family: 'Patua One', 'Black Han Sans', 'Spoqa Han Sans JP', sans-serif;
    font-size: 40px;
    background-color: #fc75fe;
    border: #8c06a0 solid 7px;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: -2px 0 #8c06a0, 0 2px #8c06a0, 2px 0 #8c06a0, 0 -2px #8c06a0;
    box-shadow: 0 9px #999;
    display: inline-block;
}

.button_disabled {
    transition-duration: 0.4s;
    padding: 10px;
    cursor: pointer;
    font-family: 'Patua One', 'Black Han Sans', 'Spoqa Han Sans JP', sans-serif;
    font-size: 40px;
    background-color: #757575;
    border: #333333 solid 7px;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: -2px 0 #757575, 0 2px #757575, 2px 0 #757575, 0 -2px #757575;
    box-shadow: 0 9px #999;
    display: inline-block;
}

.button:hover {
    background-color: white;
    color: #8c06a0;
    text-shadow: none;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.announce {
    min-width: 500px;
    width: 50%;
    margin: auto;
    font-size: 16px;
    text-align: center;
    background: #f8f8f8;
}

.main-images {
    text-align: center;
    margin: 20px;
}

.main-images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.rule-wrapper {
    padding: auto;
    text-align: center;
}

.rule {
    display: inline-block;
    min-width: 500px;
    width: calc(30% - 10px);
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
    font-size: 16px;
    background: #ffffff;
    text-align: left;
}

.korean {
    word-break: keep-all;
}

.apply {
    margin: 30px;
    padding: auto;
    text-align: center;
}

.song {
    width: 60%;
    min-width: 500px;
    height: 150px;
    margin: 30px auto 30px auto;
    display: flex;
}

.song .img {
    height: 150px;
    margin: 0;
    z-index: 1;
}

.song .img img {
    height: 148px;
    width: auto;
    -webkit-clip-path: polygon(0 0, 0 150px, 150px 150px, 195px 0);
    clip-path: polygon(0 0, 0 150px, 150px 150px, 195px 0);

    border: black solid 1px;
    border-radius: 5px;
}

.song .data {
    display: flex;
    margin: 0 0 0 -60px;
    height: 148px;
    width: calc(100% - 60px);
    min-width: 450px;
    position: relative;
    background: linear-gradient(
        0deg,
        #f8f8f8 0%,
        #f0f0f0 16%,
        #ffffff 100%
    );

    border: black solid 1px;
    border-radius: 5px;
}

.song .data .info {
    position: absolute;
    width: 100%;
    height: 100%;
}

.song .data .info .genre {
    position: absolute;
    top: 10px;
    left: 65px;

    font-size: 20px;
}

.song .data .info .name {
    position: absolute;
    left: 45px;
    top: calc(50% - 32px);

    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;

    height: 60px;
    font-size: 40px;
    font-weight: 700;
}

.song .data .info .artist {
    position: absolute;
    bottom: 10px;
    left: 30px;

    font-size: 20px;
}


.song .data .etc {
    position: absolute;
    height: 100%;
    width: 200px;
    right: 0;
}

.song .data .etc div {
    width: 180px;
    padding: 10px;
    position: absolute;
    text-align: right;
    font-size: 15px;
    top: 0;
}

.song .data .etc .recommender {
    font-size: 25px;
    font-weight: 700;
    top: 25px;
}

.song .data .etc a {
    width: 160px;
    padding: 10px;
    margin: 10px;
    position: absolute;
    bottom: 0;

    color: black;
    text-decoration: none;
    text-align: center;

    background-color: white;
    border-radius: 5px;
}

.upload_form {
    width: 600px;
    margin: 20px auto;

    padding: 10px;

    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
}

.upload_form .title {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.upload_form .description {
    padding: 10px;
}

.upload_form .inner {
    margin: auto;
    padding: 20px;
}

.person_song {
    width: 80%;
    min-width: 600px;
    height: 150px;
    margin: 30px auto 30px auto;
    display: flex;
}

.person_song .song {
    margin: 0;
    width: 75%;
}

.person {
    width: 20%;
    min-width: 148px;
    height: 148px;
    margin: 0 auto 0 0;

    background: linear-gradient(
        0deg,
        #f8f8f8 0%,
        #f0f0f0 16%,
        #ffffff 100%
    );

    border: black solid 1px;
    border-radius: 5px;
}

.person .name {
    height: 60%;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.person .inner {
    height: 40%;
    width: 100%;
    display: flex;
}

.person .inner .time {
    width: 50%;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.person .inner .dl {
    width: 50%;
    text-align: center;
    cursor: pointer;

    color: blue;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.person .inner .dl_hid {
    width: 50%;
    text-align: center;

    color: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow {
    width: auto;
    display: flex;
}

.line {
    margin: 70px 0 70px 0;
    width: 60px;
    background: black;
    height: 10px;
}

.point {
    margin: 60px 0 60px 0;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
}

.footer {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.videoframe {
    margin: auto;
}

.videoframe iframe {
    margin: 0 auto;
    display: block;
}
