body {
    background: repeating-linear-gradient(
        45deg,
        #f8f8f8,
        #f8f8f8 10px,
        #ffffff 10px,
        #ffffff 20px
    );
}

a {
    color: blue;
    text-decoration: none;
}

.button {
    transition-duration: 0.4s;
    padding: 10px;
    font-family: 'Patua One', 'Black Han Sans', 'Noto Sans JP', sans-serif;
    font-size: 40px;
    background-color: #fc75fe; /* Green */
    border: #8c06a0 solid 7px;
    border-radius: 12px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: -2px 0 #8c06a0, 0 2px #8c06a0, 2px 0 #8c06a0, 0 -2px #8c06a0;
    display: inline-block;
}

.button:hover {
    background-color: white;
    color: #8c06a0;
    text-shadow: none;
}

.announce {
    min-width: 500px;
    width: 50%;
    margin: auto;
    font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
    font-size: 16px;
    text-align: center;
    background: #f8f8f8;
}

.header {
    text-align: center;
    margin: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.rule-wrapper {
    padding: auto;
    text-align: center;
}

.rule {
    display: inline-block;
    min-width: 500px;
    width: calc(30% - 10px);
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
    font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
    font-size: 16px;
    background: #ffffff;
    text-align: left;
}

.korean {
    word-break: keep-all;
}

.apply {
    margin: 30px;
    padding: auto;
    text-align: center;
}

.footer {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
}