{% extends 'header.html' %}

{% block content %}
    {% if reveal_state <= 1 %}
    <div class="deadline">
        <div class="title">
            {% if reveal_state == 0 %}
            対象曲の公開まであと / Assigned songs will be revealed in<br>담당곡 공개까지
            {% else %}
            〆切まであと / Deadline ends in / 마감 기한까지
            {% endif %}
        </div>
        <div class="timer">
            <div class="slot">
                <div class="name">Day</div>
                <div class="time" id="day"></div>
            </div>
            <div class="slot">
                <div class="name">Hour</div>
                <div class="time" id="hour"></div>
            </div>
            <div class="slot">
                <div class="name">Minute</div>
                <div class="time" id="minute"></div>
            </div>
            <div class="slot">
                <div class="name">Second</div>
                <div class="time" id="second"></div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var deadline = new Date("{{ deadline }}").getTime();
            var x = setInterval(function() {
                var now = new Date().getTime();
                var t = (deadline > now) ? deadline - now : 0;
                var day = Math.floor(t / (1000 * 60 * 60 * 24));
                var hour = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minute = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                var second = Math.floor((t % (1000 * 60)) / (1000));

                document.getElementById("day").innerHTML = day;
                document.getElementById("hour").innerHTML = hour;
                document.getElementById("minute").innerHTML = minute;
                document.getElementById("second").innerHTML = second;

                if (t === 0) {
                    clearInterval(x);
                    location.reload(true);
                }
            }, 1000);
        });
    </script>
    {% endif %}
    {% if reveal_state == 2 %}
    <div class="deadline">
        <div class="title">
            提出は終了しました。<br>Submission has been closed.<br>제출이 마감되었습니다.
        </div>
    </div>
    {% endif %}
    {% if reveal_state == 1 or reveal_state == 3 %}
    <div class="upload_form">
        <div class="title">提出する / Submit / 제출하기</div>
        <div class="description">
            提出の〆切までは再提出できます。<br>
            You can re-submit before the deadline.<br>
            제출 마감 전까지는 다시 제출할 수 있습니다.
        </div>
        <div class="inner">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <form method=post enctype=multipart/form-data>
                Your token: <input type=text name=token><br>
                <input type=file name=file>
                <input type=submit value=Upload>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="lis">
        {% for person_name, song_info, last_submission in lis %}
            <div class="person_song">
                <div class="person">
                    <div class="name">{{ person_name }}</div>
                    <div class="time">Last submission: <br>{{ last_submission }}</div>
                </div><div class="arrow">
                    <div class="line"></div>
                    <div class="point"></div>
                </div><div class="song">
                    <div class= "img">
                        <img src="{{ song_info['image'] }}">
                    </div><div class="data">
                        <div class="info">
                            <div class="genre">{{ song_info["genre"] }}</div>
                            <div class="name">{{ song_info["name"] }}</div>
                            <div class="artist">By {{ song_info["artist"] }}</div>
                        </div><div class="etc">
                            <div>Recommended by<br></div>
                            <div class="recommender">{{ song_info["recommender"] }}</div>
                            <a href="{{ song_info['dl'] }}">CLICK TO DOWNLOAD</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
