
<!--
 _____ _                         _                  _                                                                     
|_   _( )                       | |                | |                                                                    
  | | |/ _ __ ___    _ __   ___ | |_  __      _____| |__    _ __  _ __ ___   __ _ _ __ __ _ _ __ ___  _ __ ___   ___ _ __ 
  | |   | '_ ` _ \  | '_ \ / _ \| __| \ \ /\ / / _ \ '_ \  | '_ \| '__/ _ \ / _` | '__/ _` | '_ ` _ \| '_ ` _ \ / _ \ '__|
 _| |_  | | | | | | | | | | (_) | |_   \ V  V /  __/ |_) | | |_) | | | (_) | (_| | | | (_| | | | | | | | | | | |  __/ |   
 \___/  |_| |_| |_| |_| |_|\___/ \__|   \_/\_/ \___|_.__/  | .__/|_|  \___/ \__, |_|  \__,_|_| |_| |_|_| |_| |_|\___|_|   
                                                           | |               __/ |                                        
                                                           |_|              |___/                                         
-->
<head>
    <title>100min Fumen Cooking!!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="static/style.css?v={{ css_param }}" rel="stylesheet" type="text/css" media="screen,print" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Patua+One&display=swap" rel="stylesheet"> 
</head>

<body>
    <div class="navigation">
        <div class="left">
            <div {% if nav_val == 1 %} class="active" {% endif %} onclick="location.href='/';">Home</div>
            <div {% if nav_val == 2 %} class="active" {% endif %} onclick="location.href='/rule';">Rule</div>
            <div {% if nav_val == 3 %} class="active" {% endif %} onclick="location.href='/songs';">Songs</div>
            <div {% if nav_val == 4 %} class="active" {% endif %} onclick="location.href='/am';">AM Section</div>
            <div {% if nav_val == 5 %} class="active" {% endif %} onclick="location.href='/pm';">PM Section</div>
        </div>
        <div class="right">
            <img class="nav-logo" src="static/navigation_logo.png"></img>
        </div>
    </div>
    <div class="navigation-padding"></div>
    {% block content %}{% endblock %}
    <div class="footer">
        <a href="https://twitter.com/100mFumenCookin">Twitter</a><br>
        Made by <a href="https://twitter.com/Lapisha_">Lapis</a>, Event hosted by <a href="https://twitter.com/_TRI_FORCE_">Triforce</a>.<br>
        Design helped by <a href="https://twitter.com/BKANOTHER">BKANOTHER</a>. Translated by <a href="https://twitter.com/_CocoaParfait">71066</a> (JP), <a href="https://twitter.com/Rb_Drache">Rb_Drache</a> (EN).
    </div>
</body>