{% extends 'header.html' %}

{% block content %}
    <div class="videoframe">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7lhJ0LZtv3w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Lr37P_kew2Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
{% endblock %}
