
<head>
    <title>100min Fumen Cooking!!</title>
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="static/style.css" rel="stylesheet" type="text/css" media="screen,print" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Patua+One&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="header">
        <img src="static/title.png">
        <img src="static/phrase_english.png">
        <img src="static/phrase_japanese.png">
        <img src="static/phrase_korean.png">
        <img src="static/time.png">
        <img src="static/rule.png">
    </div>
    <div class="announce">
        Apply button is on the bottom of the site.<br>
        申請ボタンはサイトの下段にあります。<br>
        신청하기 버튼은 사이트의 하단에 있습니다.<br>
    </div>
    <div class="rule-wrapper">
        <div class="rule">
            <ol>
                <li>This event is a BMS chart making event where you create a sabun out of randomly designated songs within 100 minutes.</li>
                <li>Participants can check the designated songs on the site at the start of the event (AM Group: 9/27 (Sunday) 10:00, PM Group: 9/27 22:00 KST/JST)
                    and submit the corresponding sabun to the site within 100 minutes.</li>
                <li>The list of songs to be assigned to participants will be revealed on 9/26 (Sat) 00:00 KST/JST via Google Spreadsheet.</li>
                <ul>
                    <li>The list will consist of 100 songs, including three to five songs written by each participant for participation and a list of songs selected
                        by the organizers.</li>
                    <li>It will not include songs that are too short or too long, or songs with too few keysounds or may cause difficulty in production.</li>
                    <li>Some songs may be excluded after the screening process.</li>
                </ul>
                <li>You can make the charts in any way and form you want. However, in the following cases, it may be disqualified and not disclosed:</li>
                <ul>
                    <li>Chart with zero notes.</li>
                    <li>Chart suspected with non-direct note placement. (for instance, using original/bundled chart as is)</li>
                    <li>“Unplayable” charts e.g. overused soflan.</li>
                    <li>Heavy modification of original music (misplacement check is recommended and very appreciated), except for cases of delay charts.</li>
                    <li>The submitted sabuns will be recorded later and uploaded in the order of submission.</li>
                </ul>
                <li>You cannot submit sabun if more than 100 minutes have passed from the start time (AM Group: 9/27 (Sunday) 11:40, PM Group: 9/27 (Sunday) 23:40 KST/JST).</li>
                <li>The submitted sabuns will be recorded later and uploaded in the order of submission.</li>
            </ol>
            <ul>
                <li>I would like you to think of this event like a festival, not a competition that deals with how well you make it.</li>
                <li>For other inquiries, please contact via @100mFumenCookin (<a href="https://twitter.com/100mFumenCookin">Twitter</a>),
                    or the organizer at @_TRI_FORCE_ (<a href="https://twitter.com/_TRI_FORCE_">Twitter</a>), Triforce#9220 (Discord), triforce509@gmail.com.</li>
            </ul>
        </div>
        <div class="rule">
            <ol>
                <li>本イベントは100分内でランダムに選ばれた楽曲で差分を作り出すBMS譜面制作イベントです。</li>
                <li>参加者は開始時間(午前組: 9/27(日) 10:00、午後組: 9/27(日) 22:00)にサイトから対象曲を確認し、100分内で差分を作り、サイトに提出します。</li>
                <li>対象曲のリストは9/26 (土) 00:00にGoogle Spreadsheetで公開する予定です。</li>
                <ul>
                    <li>対象曲は参加者の皆さんが参加フォームで記入した3~5曲と主催側から選定した楽曲を合わせて100曲となります。</li>
                    <li>短すぎるか長すぎる楽曲、またはキー音が足りないなど制作に難関のある要素がいる場合はリストから除外されます。</li>
                    <li>その他審査過程で記入した楽曲が除外される場合があります。</li>
                </ul>
                <li>差分の類型はどんな種類でも関係ありません。ただし、以下の場合は失格となり公開しません。</li>
                <ul>
                    <li>押せるノートが一本もない場合</li>
                    <li>差分を自分で作成したと判断できない場合 (ex. 本体譜面をそのまま使った場合)</li>
                    <li>BPM変化など色んな仕掛けで差分をまともにプレイできない場合</li>
                    <li>原曲を多く壊した場合 (できればズレチェックをお願いします)。ただし、ディレイ譜面は例外とします。</li>
                    <li>その他、主催側の判断で不適合だと思われる場合</li>
                </ul>
                <li>開始時間から100分を過ぎた場合(午前組: 9/27(日) 11:40、午後組: 9/27(日) 23:40)は差分提出ができません。是非確認してください。</li>
                <li>提出した差分は後ほど動画を作り提出順でアップロードする予定です。</li>
            </ol>
            <ul>
                <li>本イベントはどれだけ上手いかを競う“競争”ではなく、みんなで楽しむ“祭り”だと思って頂きたいと思います。</li>
                <li>お問い合わせは @100mFumenCookin (<a href="https://twitter.com/100mFumenCookin">Twitter</a>)、
                    または主催者の連絡先 (@_TRI_FORCE_ (<a href="https://twitter.com/_TRI_FORCE_">Twitter</a>)、Triforce#9220 (Discord)、triforce509@gmail.com)でお願いします。</li>
            </ul>
        </div>
        <div class="rule korean">
            <ol>
                <li>이 이벤트는 100분 안에 무작위로 지정된 곡을 대상으로 차분보면(이하 차분)을 만들어 내는 BMS 패턴 제작 이벤트입니다.</li>
                <li>참가자 분들께서는 제작 시작 시간(오전반: 9/27 (일) 10:00, 오후반: 9/27 (일) 22:00)에 사이트에서 지정된 곡을 확인하시고,
                    100분 내로 차분을 만들어 사이트에 제출해주시면 되겠습니다.</li>
                <li>참가자 분들에게 지정될 곡의 목록은 9/26 (토) 00:00에 구글 스프레드시트를 통해 공개할 예정입니다.</li>
                <ul>
                    <li>해당 곡들은 참가자 분들이 참가를 위해 작성해주신 3~5개의 곡들과 주최자 측에서 선정한 곡 목록을 합한 100곡입니다.</li>
                    <li>너무 짧은 곡이나 너무 긴 곡은 포함되지 않으며, 기본적인 키음이 매우 부족하거나 제작에 난항이 생길 요소가 있는 경우에도 제외됩니다.</li>
                    <li>그 외에 심사 과정을 거쳐 작성해주신 곡이 제외될 수 있습니다.</li>
                </ul>
                <li>차분의 경우 어떤 방식과 형식으로 제작하셔도 관계 없습니다. 다만, 다음의 경우에는 실격 처리되어 공개되지 않을 수 있습니다.</li>
                <ul>
                    <li>제출된 보면에서 누를 수 있는 노트가 단 하나도 없는 경우</li>
                    <li>보면의 노트가 직접 배치되었다고 판단하기 힘든 경우(ex. 원본 보면을 그대로 사용)</li>
                    <li>BPM 조작 등 다양한 방법으로 차분을 정상적으로 플레이 할 수 없는 경우</li>
                    <li>원곡이 크게 훼손된 경우. (가능하면 엇갈림 체크를 부탁드립니다.) 다만, 딜레이성 패턴에 대해서는 예외로 함.</li>
                    <li>기타 주최측 판단 결과 부적절하다고 판단되는 경우</li>
                </ul>
                <li>시작시간으로부터 100분이 넘어갈 경우(오전반: 9/27 (일) 11:40, 오후반: 9/27 (일) 23:40), 차분 제출이 불가능합니다. 이를 반드시 숙지하여 주시기 바랍니다.</li>
                <li>제출된 차분은 추후 녹화되어 우선 제출된 순서로 영상으로 만들어 게재될 예정입니다.</li>
            </ol>
            <ul>
                <li>해당 이벤트는 얼마나 잘 만드느냐를 다루는 ‘경쟁’이 아닌 하나의 ‘축제’로 생각해주시면 좋겠습니다.</li>
                <li>이외의 문의 사항은 @100mFumenCookin (<a href="https://twitter.com/100mFumenCookin">Twitter</a>) 혹은
                    주최자 연락처 (@_TRI_FORCE_ (<a href="https://twitter.com/_TRI_FORCE_">Twitter</a>), Triforce#9220 (Discord), triforce509@gmail.com) 로 문의주시기 바랍니다.</li>
            </ul>
        </div>
    </div>
    <div class="apply">
        <a href="https://forms.gle/X9LK1hpxWBWqqUUV7">
            <button class="button">申し込む / Apply / 신청하기</button>
            <!-- <img src="static/apply.png"> -->
        </a>
    </div>    
    <div class="footer">
        <a href="https://twitter.com/100mFumenCookin">Twitter</a><br>
        Made by <a href="https://twitter.com/Lapisha_">Lapis</a>, Event hosted by <a href="https://twitter.com/_TRI_FORCE_">Triforce</a>.<br>
        Design helped by <a href="https://twitter.com/BKANOTHER">BKANOTHER</a>. Translated by <a href="https://twitter.com/_CocoaParfait">71066</a> (JP), <a href="https://twitter.com/Rb_Drache">Rb_Drache</a> (EN).
    </div>
</body>
