{% extends 'header.html' %}

{% block content %}
    <div class="navigation">
        <a class="active" href="/">Home</a>
        <a href="/rule">Rule</a>
        <img class="nav-logo" src="static/navigation_logo.png"></img>
    </div>
    <div class="main-images">
        <img src="static/title.png">
        <img src="static/phrase_english.png">
        <img src="static/phrase_japanese.png">
        <img src="static/phrase_korean.png">
        <img src="static/time.png">
    </div>
    <div class="apply">
        <a href="https://forms.gle/X9LK1hpxWBWqqUUV7">
            <button class="button">申し込む / Apply / 신청하기</button>
        </a>
    </div>
{% endblock %}