{% extends 'header.html' %}

{% set nav_val = 1 %}

{% block content %}
    <div class="main-images">
        <img src="static/title.png">
        <img src="static/phrase_english.png">
        <img src="static/phrase_japanese.png">
        <img src="static/phrase_korean.png">
    </div>
    <div class="video-frame">
        <div>
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/wYMES0eMzA0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="main-images">
        <img src="static/thanks_eng.png">
        <img src="static/thanks_jap.png">
        <img src="static/thanks_kor.png">
    </div>
{% endblock %}
