{% extends 'header.html' %}

{% set nav_val = 3 %}

{% block content %}
    {% if song_reveal is not none %}
    <div class="deadline">
        <div class="title">
            曲の公開まであと / Songs reveal in / 곡 공개까지
        </div>
        <div class="timer">
            <div class="slot">
                <div class="name">Day</div>
                <div class="time" id="day"></div>
            </div>
            <div class="slot">
                <div class="name">Hour</div>
                <div class="time" id="hour"></div>
            </div>
            <div class="slot">
                <div class="name">Minute</div>
                <div class="time" id="minute"></div>
            </div>
            <div class="slot">
                <div class="name">Second</div>
                <div class="time" id="second"></div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="songs">
        {% for song_info in songs %}
            <div class="song">
                <div class= "img">
                    <img src="{{ song_info['image'] }}">
                </div><div class="data">
                    <div class="info">
                        <div class="genre">{{ song_info["genre"] }}</div>
                        <div class="name">{{ song_info["name"] }}</div>
                        <div class="artist">By {{ song_info["artist"] }}</div>
                    </div><div class="etc">
                        <div>Recommended by<br></div>
                        <div class="recommender">{{ song_info["recommender"] }}</div>
                        <a href="{{ song_info['dl'] }}">CLICK TO DOWNLOAD</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if song_reveal is not none %}
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            var song_reveal = new Date("{{ song_reveal }}").getTime();
            var x = setInterval(function() {
                var now = new Date().getTime();
                var t = (song_reveal > now) ? song_reveal - now : 0;
                var day = Math.floor(t / (1000 * 60 * 60 * 24));
                var hour = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minute = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
                var second = Math.floor((t % (1000 * 60)) / (1000));

                document.getElementById("day").innerHTML = day;
                document.getElementById("hour").innerHTML = hour;
                document.getElementById("minute").innerHTML = minute;
                document.getElementById("second").innerHTML = second;

                if (t === 0) {
                    clearInterval(x);
                    location.reload(true);
                }
            }, 1000);
        });
    </script>
    {% endif %}
{% endblock %}
